# Database Configuration
DB_NAME=ratings_db
DB_USERNAME=shriram
DB_PASSWORD=rama0
DB_HOST=localhost
DB_DIALECT=postgres

# JWT Configuration
JWT_SECRET=dssdofdkjfso84309bjsbsd84b4

# Server Configuration
PORT=5000
NODE_ENV=production

# Railway will automatically provide DATABASE_URL
# DATABASE_URL=postgresql://username:password@host:port/database
